* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
/**********************************************************
 *                   CLasses                  *
 **********************************************************/
 .title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  line-height: 30.77px;
  word-wrap: break-word;
}
.title-meduim {
  line-height: 20.77px;
  font-size: 25px;
 
}
.title-small {
  line-height: 15px;
  font-size: 16px;
  font-weight: 600;

 
}
.subtitle {
  color: #717d7d;
  font-size: 20px;
  /* font-family: "Red Hat Display"; */
  font-weight: 400;
  line-height: 20.9px;
  word-wrap: break-word;
}
.subtitle-meduim {
  font-size: 15;
  font-weight: 400;
  line-height: 15.9px;
  color:#ffffff ;
 
}
.subtitle-small {
  font-size: 13px;
  font-weight: 300;
  line-height: 12.9px;
  color:#FFF ;
 
}
.btn {
  padding: 0.8rem 2rem;
  font-size: 0.8rem;
  color: white;
  max-width: 175px;
  background-color: transparent;
  border: 0.3px solid white;
  border-radius: 15.4px;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: black;
}
/**********************************************************
 *                 hearder                               *
 **********************************************************/
 .top-header {
  background-color: #72b944;
  color: white;
  font-size: 0.9rem;
}
 .container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}


.header-left span img,
.header-right span img {
  margin-right: 5px; 

  vertical-align: middle; /
}

.social-icons {
  display: flex;
  gap: 10px;
  padding-top: 3px;
}
.social-icons a img:hover {
  transform: scale(1.1);
}

.header-right .sign-link {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
}

.header-right .sign-link:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .header-left span,
  .header-right span {
    font-size: 0; 
  }
.social-icons {
  padding-top: 4px;
}

  .header-left,
  .header-right {
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
  }
  
} 

/**********************************************************
 *                   Hero Section  Left                    *
 **********************************************************/

.hero-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.hero-text {
  max-width: 50%;
  height: 100%;
  padding-left: 4%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f4faf0;
}
.hero-text,
.image {
  flex: 1;
  max-width: 50%;
}
.section-info-and-search444 {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.info444 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.highlight {
  font-family: "Red Hat Display", sans-serif;
  line-height: 46.28px;
  font-size: 60.43px;
  font-weight: 900;
  color: #72b944;
  font-weight: bold;
}
.stats {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  max-width: 800px;
}

/**********************************************************
 *                   Hero Section  Right                    *
 **********************************************************/

.cover-image-contain {
  width: 50%;
  height: auto;
  background-image: url("./image/building-view-from-field.png");
  background-size: cover;
  background-position: center;
}
.image-content {
  display: flex;
  flex-direction: row; 
  justify-content: flex-end; 
  align-items: center; 
  flex-wrap: wrap; 
  padding-top: 20px;
  gap: 10px; 
  margin-right: 15px;
}

@media (max-width: 768px) { 
  .image-content {
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end; 
  }

  .btn444 {
    order: 2; 
  }

  .menu-icon {
    order: 1; 
  }

  .text {
    order: 3; 
  }
}


.menu-icon {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.text {
  font-size: 18.27px;
  font-weight: 400;
  line-height: 10.9px;
  text-align: left;
  color: #14142b;
}

/**********************************************************
 *                   search-bar Section                           *
 **********************************************************/
.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f8fdf3;
  padding: 25px;
  border-radius: 4.45px;
  z-index: 20;
  width: 120%;
  min-width: fit-content;
  position: relative;
  border: 1px solid transparent; 
  background-clip: padding-box, border-box; 
  background-origin: border-box; 
  background-image: linear-gradient(#f8fdf3, #f8fdf3), 
                    linear-gradient(to left, #dfdfdf00, #72b944); 
}

.dropdown-container {
  flex-direction: column;
  position: relative;
  width: 100%;
  display: inline-flex; 
  white-space: nowrap; 
padding: 0 10px;
  border-right: solid 0.45px #53535380;
}


.dropdown-label {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px; 
  cursor: pointer;

}

.dropdown-label .dropdown-icon {
  width: 16px; 
  height: 16px;
}

.custom-select {
  font-size: 14.27px; 
  font-weight: 400;
  line-height: 10.9px;

  color: #121212b2; 
  cursor: pointer;
}
.explore-btn {
  background-color: #72b944;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 22px;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
  white-space: nowrap;
  font-size: 16px;
  /* position: relative; */
  z-index: 20; 
}

.explore-btn:hover {
  background-color: #669149;
}

@media (max-width: 768px) {
  .search-bar {
    gap: 10px;
    border: 1px solid #669149; 
flex-direction: column;
    max-width: min-content;
  }
  .dropdown-container{
    border: none;
  }
.cover-image-contain .btn  {
display: none;}
.cover-image-contain .text  {
  display: none;
}
.cover-image-contain{
  width: 0%;
}
.hero-text{
  max-width: 100% !important;

  
}
.menu-icon {
  top: 10%;

  position: absolute;
}
.info444 h3 {
  font-size: 40px ;
}

}


/**********************************************************
 *                    lisiting Section                         *
 **********************************************************/
 .lisiting-section {
  height: 100vh;
  background-color: #262626;
  border-radius: 25px;
  width: 100%;
  z-index: 1;
  position: relative;
  margin-top: -15px;
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  justify-content: space-between;
}

.listing-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.view-all-btn {
  background-color: transparent;
  border: none;
  color: #FFF;
  font-size: 30px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.lisiting-content {
  display: flex;
  justify-content: space-evenly;
  height: 75%;
  padding: 20px;
  gap: 20px;
    display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding-bottom: 20px;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.lisiting-item {
  border-radius: 15px;
min-width: 350px; 
max-width: 400px;
display: flex;
align-items:flex-end;
justify-content: center;
color: #ffffff;
padding: 15px;
}
.lisiting-overlay {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lisiting-item1 {
  background: linear-gradient(180deg, rgba(24, 25, 31, 0) 33.38%, rgba(0, 0, 0, 0.9) 90.05%),
  url('./image/explore1.png');
  background-size: cover; 
  background-position: center; 

}

.lisiting-item2 {
  background: linear-gradient(180deg, rgba(24, 25, 31, 0) 33.38%, rgba(0, 0, 0, 0.9) 90.05%),
  url('./image/explore2.png');
  background-size: cover;  
  background-position: center; 
}

.lisiting-item3 {
  background: linear-gradient(180deg, rgba(24, 25, 31, 0) 33.38%, rgba(0, 0, 0, 0.9) 90.05%),

    url('./image/explore3.png');
    background-size: cover; 
  background-position: center;
}
 .property-details {
  display: flex;
  justify-content: space-between;
 }

 .location-icon {
  width: 15px;
  height: 15px;
 }



.listing-footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px; 

  margin-right: 20  px;
  align-items: center;
}



.arrow-left   {
  width: 5rem; 
  height: 5rem; 
  background-image: url('./image/Arrow.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: transparent;

}
.arrow-right   {
  width: 5rem; 
  height: 5rem; 
  background-image: url('./image/Arrow\ 2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;

  border: none;
  
}

@media (max-width: 768px) {
  .listing-header .title,.view-all-btn {
    font-size: 25px; 
    text-align: center;
  }
}

@media (max-width: 400px) {
  .listing-header .title,view-all-btn {
    font-size: 20px;
    text-align: center;
  }
}
/**********************************************************
 *                     TheMost Section                   *
 **********************************************************/


.TheMost-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 8%;
}


.image-banner {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 70%; 
  position: relative;
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 75%
    ),
     url("image/themost.png");
  background-size: cover;
  border-radius: 15px;
  background-position: center;
}

.overlay {
  padding: 25px;
display: flex;
flex-direction: column;
gap: 20px;
  max-width: 500px;
  text-align: left;
  
}

/**********************************************************
 *         Discover Homeownership Section                *
 **********************************************************/

.Discover-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 8%;
  background-color: #72b94414;
}

.image-banner-discover {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  width: 100%;
  height: 60%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 75%
    ),
      linear-gradient(100deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 60%),
     url("./image/discover.png"); 
  background-position: center;
  background-size: cover;
  
}

.overlay {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
    max-width: 500px;
    justify-content: center;

}


/**********************************************************
 *         THe perfect Section                *
 **********************************************************/

.theperfect-section {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(255, 255, 255, 1);
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem; 
  margin: 20px; 
  
}


.text-container {
  flex: 1 1 40%; 
  min-width: 280px;
  min-height: 300px; 
  padding: 1rem;
  background-color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
  font-family: "Red Hat Display";
  font-weight: 800;
  color: #262626;
  margin-bottom: 0.5rem;
}

 
.image-container {
  flex: 1 1 40%;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./image/theperfect.png"); 
  background-size: cover; 
  background-position: center; 
  padding: 3px;
  border-radius: 8px;
  min-height: 300px;
}

.section-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.info-container {
  display: flex ;
  flex: 1 1 40%; 
  min-width: 280px;
  min-height: 300px;
  background-color: #f5f5f5;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  background-color: #262626;
  justify-content: center;
  align-items: center;
}

/**********************************************************
 *         THe  renting Section                *
 **********************************************************/



.Renting-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
 min-height: 100vh;
  padding: 8%;
  background-color: #72b94414;
}
.boxs {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap; 
}

.info-box {
  background-color: #72b944;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column  ;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 400px; 
  height: 400px; 
  
}

.button {
  width: 150px; 
  height: 100px; 
  background-image: url('./image/google.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  border: none; 
  cursor: pointer; 
  background-color: transparent;
}